footer{
	width: 100%;
	bottom: 0px;
}
header{
	width: 100%;
	top: 0px;
}
#main{
	background-color: #FFF;
	height: 100%;
	width: 100%;
}
.corpo{
	margin: 0 auto;
	background-color: #EEE;
	height: auto;
	width: 938px;
}
.img{
	padding: 20px 20px;
	float: left;
}
.h1{
	padding: 40px 40px;
}
.p{
	font-size: 20px;
	line-height: 0px;
}

